MyBankOne.Proxy=MyBankOne:ssl -h 172.16.54.1 -p 10000
MyBankMulti.Proxy=MyBankMulti:ssl -h 172.16.54.1 -p 10002

Ice.Trace.Network=2
Ice.Warn.Connections=1
Ice.ACM.Client=0

Ice.Plugin.IceSSL=IceSSL:createIceSSL
IceSSL.DefaultDir=./certs
IceSSL.CertFile=bank.crt
IceSSL.KeyFile=bank.pem
IceSSL.CertAuthFile=sr2013ca.crt
IceSSL.Password=asdasd