MyBankOne.Endpoints=ssl -h 172.16.54.1 -p 10000
MyCommunicator.Endpoints=ssl -h 172.16.54.1 -p 10001
MyBankMulti.Endpoints=ssl -h 172.16.54.1 -p 10002

Ice.Trace.Network=2
Ice.Warn.Connections=1

Ice.Plugin.IceSSL=IceSSL.PluginFactory
IceSSL.DefaultDir=./certs
IceSSL.Keystore=server.jks
IceSSL.Truststore=server.jks
IceSSL.Password=asdasd